
data/proc_data/proc_data
data/proc_data/proc_data_no_batch
*.mat
zhangk90@cedar.computecanada.ca
wot/data/ExprMatrix.h5ad
wot/data/gene_set_scores.csv
data/proc_data/proc_df_full.h5ad
data/proc_data/proc_df_full_no_seurat.h5ad
*.h5ad
.spyproject/
__pycache__/
.idea/
